<div class="jumbotron">
  <h1>Welcome to Email Pricer!</h1>
  <%= link_to "Targeted Emails", email_path, class: "btn btn-primary" %>
  <%= link_to "Opt-in Emails", optin_path, class: "btn btn-primary" %>
</div>


